<div class="row-fluid">
   <br>
         
         <div class="span4" style="padding-right:60px">
           <br><br><br>
           
           <table class="table table-bordered"> 
               <tr>
                  <td>
                     <button type="button" class="btn btn-primary btn-lg btn-block">
                        Join a Tournament
                     </button>
                  </td>
               </tr>

               <tr>
                  <td>
                     <button type="button" class="btn btn-info btn-lg btn-block">
                        Create a Tournament
                     </button>
                  </td>
               </tr>
            </table>

         </div>
         
         <div class="span6" style="padding-left:60px">
            <%= render('static_pages/recent_topics'); %>
               <tr><td></td></td>

            </table>
         </div>
</div>
