<div class="row-fluid">
   <br>
         
         <div class="span4" style="padding-right:60px">
           <br><br><br>
           
           <table class="table table-bordered"> 
               <tr>
                  <td>
                     <%= link_to "Join a Tournament", tournaments_path, class: "btn btn-primary btn-large btn-block"%>
                  </td>
               </tr>

               <tr>
                  <td>
                     <%= link_to "Create a Tournament", new_tournament_path, class: "btn btn-info btn-large btn-block" %>
                  </td>
               </tr>
            </table>

         </div>
         
         <div class="span6" style="padding-left:60px">
            <%= render('static_pages/recent_topics'); %>
               <tr><td></td></td>

            </table>
         </div>
</div>
