<h2>Recent Topics</h2>
      
      <table class="table table-striiped recent-motions">
         <% @recent_rounds = recent_rounds %>
         <% @recent_rounds.each { |r| %>
            <tr>
               <td>
                  <span class="motion"><%= r.motion.first.wording %></span><br>
                  <span class="institution"><%= "- " + r.tournament.name %></span>
               </td>
            </tr>
         <% } %>
      </table>
