<h2>Recent Topics</h2>
      
      <table class="table table-striped recent-motions">
         <tr>
            <td>
               <span class="motion">This house would legalize duels to the death.</span><br>
               <span class="institution"> - Colgate IV 2010</span>
            </td>
         </tr>

         <tr>
            <td>
               <span class="motion">This house would legalize duels to the death.</span><br>
               <span class="institution"> - Colgate IV 2010</span>
            </td>
         </tr>
         
         <tr>
            <td>
               <span class="motion">This house would legalize duels to the death.</span><br>
               <span class="institution"> - Colgate IV 2010</span>
            </td>
         </tr>

         <tr>
            <td></td>
         </tr>
      </table>
