<div class="info-page" id="about-page">
   <h2>About</h2>
   
   <p class="lead">
      This website is designed to be a central place for debaters to run tournaments, 
      store records of past debates and possibly deal with some administrative tasks 
      which are necessary to run a tournament.
      <br><br>

      The premis for building the website was that the current software used for 
      tournaments is outdates conceptually. One example of a large optimization that 
      would reduce tournament lag is the input of results from a round. This should 
      be done online, by the adjudicator immediately after the decision has been made.
      <br><br>

      There are many features which can be included into the website. Each day, slowly, 
      more are being added. We are looking for suggestions. A 
      <a href=http://newtabware.blogspot.com/>blog</a> is being written as the site is 
      created and is an excellent place to suggest features or follow progress.
      <br><br>

      The project is being build with Ruby on Rails and is also open source. If you 
      are a tech head you might want to check out the 
      <a href="https://github.com/julianborrey/superTab/">Github repository</a>.
   </p>
</div>
