<% provide(:title, "About"); %>

<div class="info-page" id="about-page">
   <h2>About</h2>
   
   <p class="lead">
      TabHub will operate as a central place where debaters can 
      run tournaments. The site will store motions and results from past 
      debates and deal with some of the administrative tasks associated 
      with running a tournament.
      <br><br>
      
      Most systems which people use today when 
      running tournaments do not allow online simultaneous input - this 
      can contribute to considerable lag in the running of tournaments. Results 
      from debates should be input online by the adjudicators as soon as 
      each decision is made. Additionally, the input of teams and 
      individuals' data can be done by debators which maintain profiles 
      which should make the tournament organisation much easier.
      <br><br>
      
      There are many features which ultimately will be included in this 
      website. Each day more are being added. We are also looking for 
      suggestions for useful services that could be providing. A 
      <a href=http://newtabware.blogspot.com/>blog</a> is being 
      used to chart the progress of the website - this is a great place to 
      make suggestions. 
      <br><br>
      
      The project is being build with Ruby on Rails and is also open 
      source. If you are a tech head, feel free to check out the 
      <a href="https://github.com/julianborrey/superTab/">GitHub repository</a>.
   </p>
</div>
