<div class="info-page" id="contact-page">
   <h2>Contact</h2>
   <br>
   
   <p class="lead">
      To directly contact the administator and creator of the site please
      use:<br><br>
      contact [at] tabstack.org.
   </p>
</div>
