<div class="row">
   <br>
   <h1>Super Tab</h1><br>
   
   <p class="lead" id="info-lines">
      Fully online debating tabbing platform.<br>
      Complete records and total optimization.
   </p>
</div>

<br>
<br>
<div class="row">
   
   <div class="span4">
      I am here in the left column.
   </div>
   
   <div class="span4">
      I am here in the right column.
   </div>
   
</div>
