<% provide(:title, "Sponsors"); %>

<div class="info-page" id="sponsors-page">
   <h2>Sponsors</h2>
   <br>

   <p class="lead">
      To run the serve the website and E-mail platform there are 
      monthly fees that need to be paid. The table below shows 
      the costs.
   </p>

   <br>

   <table class="table">
      <tr>
         <th>Service</th>
         <th>Provider</th>
         <th>Purpose</th>
         <th>Cost</th>
      </tr>
      
      <tr>
         <td>Domain Name</td>
         <td>Media Temple</td>
         <td>Allows us to use tabstrak.org</td>
         <td> ??? </td>
      </tr>
      
      <tr>
         <td>Web Hosting</td>
         <td>Media Temple</td>
         <td>Handles site requests and processes tournament.</td>
         <td> ??? </td>
      </tr>

      <tr>
         <td>E-mail</td>
         <td>Gmail</td>
         <td>Allows for TabStack E-mails.</td>
         <td> ??? </td>
      </tr>

      <tr>
         <td></td>
         <td></td>
         <th>Total</th>
         <th> ??? </th>
      </tr>

      <!-- finish off the table -->
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
      </tr>
   </table>

   <p class="lead">
      We are currently looking for a way to fund the website. 
      The yearly cost is not quite large when cosidering the 
      number of societies and debators that it could support.
      Hopefully we work this out...

   </p>
</div>
