<table class="table attendeeTable">
      <%= render('tournaments/teams/team_form_row', origin_place: "teams"); %>
      
      <%= render('tournaments/teams/col_titles', show_speaker_points: true); %>
      
      <%= render('tournaments/teams/team_rows', show_speaker_points: true, origin_place: "teams"); %>
</table>