<tr class="titlesRow">
	<td>Name</td>
	<td>Institution</td>
	
	<% if with_rating %>
   	<td>Rating</td>
   <% else %>
   	<td></td>
   <% end %>
	
	<td>Conflicts</td>
	<td><!--  edit  --></td>
	<td><!-- remove --></td>
</tr>