<div class="input-prepend">
   <span class="add-on">Motion</span>
   <%= f.fields_for(:motion) do |g| %>
      <%= g.text_field(:wording, {class: "span2", value: "#{@round.motion.wording}",
                                  style: "width:572px;"}); %>
   <% end %>

   <div class="genre_ticks">
      
   </div>
</div>

<%= f.hidden_field(:tournament_id, value: @tournament.id) %>
