<div class="row-fluid">
   <div class="topicBox">
      <div class="topicBoxTitle">Current Roun - Round <%= @current_round.round_num %></div>
      <div class="topicBoxMotion"><%= @current_round.motion.first.wording %></div>
   </div>
</div>
