<div class="row-fluid">
   <div class="topicBox">
      <div class="topicBoxTitle">Current Roun - Round <%= @tournament.get_current_round %></div>
      <div class="topicBoxMotion"><%= @topic %></div>
   </div>
</div>
