<div class="row-fluid tournament-header">
   <div class="span9">
      <div class=tournament-name>
         <a href="<%= tournament_path(@tournament) %>"><%= @tournament.name %></a>
      </div>
   </div>
   <div class="span3">
      <!-- tournament logo -->
   </div>
</div>
