<% provide(:title,  @tournament.name + " - Teams") %>

<div class="row-fluid tournament-page">
   
   <%= render('tournaments/title_shim'); %>
   
   <div class="tableTitle">
      <h1>Teams</h1>
      <a href="<%= tournament_path(@tournament) + '/control'%>">back to control panel</a>
      <span style="margin-left:50px"># Teams: <%= @tournament.teams.count %></span>
      <br><br>
   </div>
   
   <%= render("tournaments/teams/team_table"); %>
</div>
