<h1>Server Error</h1>
<p class="error-tag lead">500 Error</p>

<br><br>

<p class="lead">
Sorry but our server didn't quite make it.<br>
It was probably something like <%= link_to 'this', 'http://www.youtube.com/watch?v=5d7aruKYkKs', :target => "_blank" %>.
</p>

<%= render 'errors/back_or_home' %>
