@import "bootstrap";

//variables
//$grayMediumLight: #eaeaea;

//code for all, all for code

html {
   overflow-y: scroll; //assuming this allows for scroll bar??
}

body {
   padding-top: 60px;  //padds between title and nav bar
}                      //nav bar is fixed to the absolut top

section {
   overflow: auto;
}

textarea {
   resize: vertical;
}

header {
   ul {
      .left-tab {
         margin-left: 100px;
      } 
   }
   
   .nav {
      padding-top: 15px;
      background: white; //stops see through nav bar
   }
   
   #logo {
      padding-top: 5px;
      float: right;
      padding-right: 100px;
      font-size: x-large;
      font-family: "Rockwell Extra Bold", monospace;
      font-weight: bold;
      
      a:hover {
         color: gray;
         text-decoration: none;
      }
   }
}

footer {
   position: absolute; //keeps at bottom of page
   
   width: 100%;
   bottom: 0px;
   height: 30px;
   padding-top: 6px;
   background-color: #eee;
   border-top: 1px solid #ddd;
   
   ul {
      text-align: center;
      li {
         display: inline;
         margin-right: 60px;
      }
   }
}

#info-lines {
   text-align: right;
   color: gray;
}

h1 {
   color: #575757;
   font-size: 60px;
}

.recent-motions {
   .motion {
   }

   .institution {
      color: gray;
      font-weight: bold;
   }
}

input[type="text"], input[type="password"] {
   width: 95%;
   height: 30px;
   margin-bottom: 0px;
}

.title-box {
   padding-top: 40px;
}

//user sidebar (left)
.user-name-bar {
   font-size: 35px;
}

.stat-name {
   color: gray;
}

.stat-value {
}

#user-col {
   padding: 60px 20px 0px 30px;
   border-right: 1px solid #ddd;
   height: 520px; //this is a serious hack
   //need a better solution to this
}

.current-round {
   border: 1px solid #ddd;
   border-radius: 0px 0px 4px 4px;
   -webkit-border-bottom-left-radius: 4px;
   -webkit-border-border-right-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   -moz-border-radius-bottomright: 4px;
   
   padding: 20px 20px 20px 20px;
}

.filled-class {
   border-radius: 4px 4px 0px 0px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-topright: 4px;
   
   margin-bottom: 0px;
   margin-top: 20px;
   border-bottom: 0px;
   text-align: center;
   font-size: 40px;
   color: #888;
}

#round-col {
   height: 100%;
   border-right: 1px solid #ddd;
   height: 370px; ///////HACK!!!!!!!!!
   font-size: 16px;
}

.debate-room {
   table {
      margin-left: auto;  //to center the table
      margin-right: auto; 
   }
   
   td {
      padding: 30px;
   }
}

#curr-round-title {
   line-height: 10px;
   font-size: 20px;
   font-weight: bold;
}

.room-pos-gov {
   border-right: 2px solid #bbb;
   text-align: right;
}

.top-half {
   border-bottom: 2px solid #bbb;
}

.adj-table td {
   text-align: center;
}

.adj-table th {
   text-align: center;
}

.last-row {
   border-bottom: 1px solid #ddd;
}
