.info-page {
   width: 780px;
   margin-left: auto;
   margin-right: auto;

   text-align: justify;

   margin-top: 20px;
   padding-bottom: 60px;
}

.upcoming-table {
   padding-top: 10px;
   padding-right: 120px;
}

.year-select {
	width: 70px;
}

.genre-select {
	width: 175px;
}

.random_motion_well {
	color: grey;
	padding: 10px;
}

.random_motion_meta_data {
	color: grey;
}