.tournament-page {
   font-family: "Times New Roman";
}

.tournament-header {
   margin-top: 40px;
   margin-bottom: 10px;
}

.tournament-name {
   font-size: 50px;
   text-align: center;
   letter-spacing: 8px;
   margin-bottom: 20px;
}

.ctrlBtnRow {
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   font-weight: bold;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
}

.statusBar {
   padding-top: 20px;
}

.statusTable {
   width: 450px;
   margin-left: auto;
   margin-right: auto;

   tr {
      border-bottom: 1px solid #ddd;
   }
}

.infoTable {
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 800px;
   font-size: 17px;
}

.midCol {
   border-right: 2px solid #ddd;
}

.info-name {
}

.info-value {
   font-weight: bold;
}

.remarksBox {
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #ddd;
   padding: 20px;
   max-width: 800px;
   max-height: 180px;
   overflow: scroll;
   margin-bottom: 60px;
}

.tournamentSidebar{
   padding: 20px;
   border-right: 1px solid #ccc;
   
   .btn {
      margin-bottom: 20px;
      font-size: 24px;
      float: right;
      margin-left: 20px;
   }
}

.topicBox {
   margin-right: auto;
   margin-left:  auto;
   max-width: 800px;
   border: 1px solid #ddd;
   max-height: 200px;
   overflow: scroll;
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 16px;
   padding: 20px;
}

.topicBoxTitle {
   font-weight: bold;
}

.topicBoxMotion {
}

.statsBox {
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
   border: 1px solid #ddd;
   max-height: 200px;
   overflow: scroll;
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 16px;
   padding: 10px;

   table {
      margin-bottom: 0px;
   }
}

.tournStatsLink {
   float: left;
}

.teamDrawsLink {
   float: right;
}

.attendeeTable {
   width: 800px;
   margin-top: 40px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;

   thead {
      font-weight: bold;
   }
}

/* new */
.remarksInputBox {
   width:  580px;
   height: 150px;
}

.infoBox {
   display: none;
   color: #666;
   position: absolute;
   margin-left: 15px;
   text-align: justify;
   width: 270px;
   background-color: rgba(255, 255, 255, 0.93);
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 7px;
}


/* Control Panel */

.startButtons {
   width: 400px;
   margin-left: auto;
   margin-right: auto;
}

.startButton {
   display: inline-block;
}

.settingsBox {
   margin-left: auto;
   margin-right: auto;
   width: 900px;
   border: 1px solid #ddd;
   padding: 20px;
   margin-bottom: 40px;
   overflow: scroll;

   thead {
      font-weight: bold;
   }
}

.qIcon {
   margin-left: 3px;
}

.tickIcon {
   margin-right: auto;
   margin-left: auto;
   display: flex;
}

.infoBoxCtrlPanel {
   margin-top: -204px;
   width: 400px;
   margin-left: 0px;
   display: none;
   color: #666;
   position: absolute;
   text-align: justify;
   background-color: rgba(255, 255, 255, 0.93);
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 7px;
   font-weight: normal;
}

/* _tournament_user_stats.html.erb */

