.tournament-page {
   font-family: "Times New Roman";
}

.tournament-header {
   margin-top: 40px;
   margin-bottom: 10px;
}

.tournament-name {
   font-size: 50px;
   text-align: center;
   letter-spacing: 8px;
   margin-bottom: 20px;
}

.ctrl-btn-row {
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   font-weight: bold;
}

.statusBar {
   padding-top: 20px;
}

.statusTable {
   width: 450px;
   margin-left: auto;
   margin-right: auto;

   tr {
      border-bottom: 1px solid #ddd;
   }
}

.infoTable {
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 800px;
   font-size: 17px;
}

.midCol {
   border-right: 2px solid #ddd;
}

.info-name {
}

.info-value {
   font-weight: bold;
}

.remarksBox {
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #ddd;
   padding: 20px;
   max-width: 800px;
   max-height: 180px;
   overflow: scroll;
   margin-bottom: 60px;
}

.tournamentSidebar{
   padding: 20px;
   border-right: 1px solid #ccc;
   
   .btn {
      margin-bottom: 20px;
      font-size: 24px;
      float: right;
      margin-left: 20px;
   }
}

.topicBox {
   margin-right: auto;
   margin-left:  auto;
   max-width: 800px;
   border: 1px solid #ddd;
   max-height: 200px;
   overflow: scroll;
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 16px;
   padding: 20px;
}

.topicBoxTitle {
   font-weight: bold;
}

.topicBoxMotion {
}

.statsBox {
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
   border: 1px solid #ddd;
   max-height: 120px;
   overflow: scroll;
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 16px;
   padding: 10px;

   table {
      margin-bottom: 0px;
   }
}

.statsBoxTitle {
   margin-left: 400px;
}

.attendeeTable {
   width: 800px;
   margin-top: 40px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;

   thead {
      font-weight: bold;
   }
}


/* Control Panel */

.startButtons {
   width: 400px;
   margin-left: auto;
   margin-right: auto;
}

.startButton {
   display: inline-block;
}

.settingsBox {
   margin-left: auto;
   margin-right: auto;
   width: 900px;
   border: 1px solid #ddd;
   padding: 20px;
   margin-bottom: 40px;

   thead {
      font-weight: bold;
   }
}

.qIcon {
   margin-left: 3px;
}

.tickIcon {
   margin-right: auto;
   margin-left: auto;
   display: flex;
}
