$fontSize: 16px;

.signup-page {
   padding-top: 25px;
   text-align: center;
   
   h1 {
      margin-bottom: 65px;
   }
   
   .add-on {
      font-size: $fontSize;
      text-align: center;
      background-color: white;
      
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 10px; //to make same height as input field
      height: 24px;      //this too
      width: 100px;
   }

   .span2 {
      width: 350px;
      text-align: center;
   }

   .create-account-btn {
      width: 565px;
      height: 40px;
      font-size: $fontSize;
   }

   .uni-dropdown {
      width: 364px;
      height: 40px;
   }
}

#profile-page {
   width: 960px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 50px;
}

.user-name {
   font-size: 50px;
   text-align: right;
   letter-spacing: 8px;
}

.user-inst {
   font-size: 30px;
   color: gray;
   padding-top: 40px;
   text-align: right;
   padding-right: 10px;
}

.icon-question-sign {
   margin-top: -3px;
}
