<div class="well filled-class">
   UNSW IV
</div>

<div class="current-round">
   <div id="curr-round-title">Current Round</div>
   <hr>

   <div class="container-fluid">
      <div class="span3" id="round-col">
         <span class="stat-name">Round: </span>
         <span class="stat-value">4</span>
         <br><br>
         
         <span class="stat-name">Room: </span>
         <span class="stat-value">SN54</span>
         <br><br>

         <span class="stat-name">Info: </span><br>
         <span class="stat-value">
            See the youtube link: .............
         </span>
      </div>
      
      <div class="span9">
         <p class="lead" style="text-algin:center">
            THW live under the sea.
         </p>

         <div class="debate-room">
            <table>
               <tr class="top-half">
                  <td class="room-pos-gov">
                     <b>OG:</b><br>
                     Lennon &amp Assange 
                     <span class="badge">3</span>
                  </td>
                  
                  <td class="room-pos-opp">
                     <b>OO:</b><br>
                     Lennon &amp Assange 
                     <span class="badge">3</span
                  </td>
               </tr>

              <tr class="bottom-half">
                  <td class="room-pos-gov">
                     <b>CG:</b><br>
                     Lennon &amp Assange 
                     <span class="badge">3</span>
                  </td>
                  
                  <td class="room-pos-opp">
                     <b>CO:</b><br>
                     Lennon &amp Assange 
                     <span class="badge">3</span>
                  </td>
               </tr>

            </table>
         </div>
         <br><br>

         <table class="table adj-table">
            <tr>
               <th>Panalist</th>
               <th>Chair</th>
               <th>Panalist</th>
            </tr>

            <tr class="last-row">
               <td>B-will</td>
               <td>D Maher</td>
               <td>D Ong</td>
            </tr>
         </table>
      </div>
   </div>
      
</div>
