<footer class="footer navbar-fixed-bottom">
   <ul>
      <li><%= link_to "Home",     root_path %></li>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <li><%= link_to "Sponsors", sponsors_path %></li>
   </ul>
</footer>
