<div class="upcoming-table">
   <h2>Your Upcoming Tournaments</h2>

   <table class="table table-striped">
      <tr>
         <th>Tournament</th>
         <th>Team</th>
         <th>Start Date</th>
         <th>End Date</th>
      </tr>

      <tr>
         <td>Colgate IV</td>
         <td>Duke A</td>
         <td>08/09/2013</td>
         <td>48/12/1232</td>
      </tr>

      <tr>
         <td>Stanford IV</td>
         <td>Duke B</td>
         <td>09/12/3213</td>
         <td>48/23/1233</td>
      </tr>

      <tr class="last-row">
         <td>WUDC</td>
         <td>Duke C</td>
         <td>09/12/3223</td>
         <td>10/10/1010</td>
      </tr>

   </table>
</div>
